.choose-country__content__get-started {
    span {
        // color: $accent;
        cursor: pointer;
    }
    div {
        h3 {
            font-weight: 700;
            color: #2d2d2d;
        }
        .choose-country__content__get-started__subtitle {
            cursor: inherit;
            color: #2d2d2d;
            font-size: 30px;
        }
    }
}
.choose-country__content__table {
    &__search {
        form {
            img {
                position: relative;
                left: 50px;
            }
            input {
                border: none;
                padding: 10px 80px;
                border-radius: 6px;
                box-shadow: -20px 20px 40px rgba(122, 122, 122, 0.13);
                margin-bottom: 20px;
                text-align: center;
            }
            button {
                background-color: transparent;
                position: relative;
                top: 12px;
                border: none;
                right: 60px;
                height: 35px;
                width: 35px;
                background-image: url("../../images/dist/choose_country/search_button.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.countries-table {
    -webkit-box-shadow: -100px -14px 59px -30px rgba(192, 232, 208, 0.67);
    -moz-box-shadow: -100px -14px 59px -30px rgba(192, 232, 208, 0.67);
    box-shadow: -100px -14px 59px -30px rgba(192, 232, 208, 0.67);
    width: auto;
    tbody {
        tr:hover {
            cursor: pointer;
            transition-duration: 0.4s;
            transform: scale(1.2);
        }
    }
    th {
        font-weight: 500;
        font-size: 15px;
        padding: 14px 40px 14px 40px;
        background: rgba(227, 237, 238, 0.56);
        border-radius: 6px 0px 0px 6px;
        text-align: left;
        opacity: 70%;
    }
    td {
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        padding: 30px 40px 0 40px;

        strong {
            padding-left: 5px;
        }
    }
}
