.get-started {
    background-color: #ecf7f3;
}
.get-started__content__form__title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: #2d2d2d;
    }
    span {
        color: #ff8345;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) initial;
    }
}
.btn {
    background-color: $accent;
    color: white;
    &__get-started {
        border-radius: 30px;
        text-align: center;
        height: 40px;
        width: auto;
    }
}
.get-started__content__form__regular-user {
    p {
        span {
            color: #ff8345;
            cursor: pointer;
        }
    }
}
.get-started__content__form__input {
    form {
        input {
            border: none;
            width: 600px;
            height: 60px;
            border-radius: 100px;
            box-shadow: -20px 20px 40px rgba(122, 122, 122, 0.13);
            text-align: center;
        }
        button {
            background-color: transparent;
            position: relative;
            bottom: 57px;
            left: 103%;
            border: none;
            border-radius: 50px;
            height: 55px;
            width: 55px;
            background-image: url("../../images/dist/get_started/search-button.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
