.popular-destinations {
    position: relative;
    bottom: 27px;
}
.popular-destinations__content p {
    font-family: poppins;
    font-weight: 500;
    font-size: 30px;
    color: #2d2d2d;
    vertical-align: middle;
}
