<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>
		<!--#echo var="title" -->
	</title>
	<meta name="description" content="Startup HTML template OptimizedHTML 5">

	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="icon" href="images/favicon.png">
	<meta property="og:image" content="images/dist/preview.jpg">
	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<header class="header container p-4">
		<nav class="header__navbar row align-items-center">
			<a class="header__navbar__brand col-2" href="#">
				<img src="../../images/dist/brand/brand.svg" alt="brand">
				Global
			</a>
			<div class="header__navbar__menu align-middle h-100 col-8 text-center">
				<a href="">Mobile Top Up</a>
				<a href="">About</a>
				<a href="">Rate</a>
				<a href="">Help</a>
			</div>
			<div class="header__navbar__auth col-2">
				<div class="header__navbar__auth__button">
					<div class="header__navbar__auth__button_green_text-white">
						<button class="btn">Sign up</button>
					</div>
				</div>
			</div>
		</nav>
	</header>